.sectionTitle {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 25px;

  &:before,
  &:after {
    display: block;
    content: "";
    height: 10px;
    background: linear-gradient(to var(--direction, left), grey, transparent);
    height: 25px;
  }
  &:after {
    --direction: right;
  }
  &-title {
      background-color: grey;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
