@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap");

.IntroText {
  font-family: "Montserrat", sans-serif;
  p {
    font-size: 1.5rem;
  }
  &--centered {
    grid-column: 2;
  }
}

@media screen and (max-width: 700px) {
  .IntroText {
    p {
      font-size: 1rem;
      max-width: 400px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1100px) {
  .IntroText {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1100px) {
  .IntroText {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  .IntroText {
    max-width: 1100px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .IntroText {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .IntroText {
    max-width: 260px;
    margin: 0 auto;
  }
}
