.IntroText {
  max-width: 80vw;
  margin: 0 auto;
  font-size: 0.8rem;
  text-align: justify;
  @media screen and (min-width: 768px) {
    font-size: unset;
  }
  @media screen and (min-width: 1440px) {
    font-size: 1.3rem;
    max-width: 1300px;
  }
  &--centered {
    grid-column: 2;
  }
}
