// import @import @import "../../components/App/variables";
// Colours
$main-background-colour-green: #89fad0;
$secondary-colour-blue: #4ec9e1;
$secondary-colour-violet: #6796e5;
$secondary-colour-green: #228291;

// Image sizes
$image-width: 270px;
$image-height: 174px;

// Intro section margins
$first-section-margin-top: 50px;

