@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster");
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.appFrame {
  &-timeLineZone {
    position: relative;
    grid-column: 3;
    & > * {
      padding-bottom: 10px;
    }
  }

  &--paddingBottom {
    padding-bottom: 50px;
  }
  &--paddingTop {
    padding-top: 0;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .appFrame {
    &--paddingTop {
      padding-top: 10px;
    }

    &-timeLineZone {
      & > * {
        padding-bottom: 30px;
      }
    }
  }
}
@supports (-moz-appearance: none) {
  .appFrame {
    &-timeLineZone {
      display: inline-table;
    }
  }
}
