@import url("https://fonts.googleapis.com/css?family=Lobster");
@import "../../components/App/variables";

// body {
//   font-family: "Lobster";
// }

.autoCarousel {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 2;
  overflow: hidden;
  z-index: -1; 
}

@media screen and (max-width: 500px) {  
  .autoCarousel {
    height: 130px; 
  }
}
.arrow {
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
}

.arrow-right {
  left: 780px;
}

.left-enter {
  opacity: 0;
  left: calc(var(--level2-left) - var(--level2-width));
  height: var(--level2-height) - 30;
  width: var(--level2-width) - 20;
  line-height: var(--level2-height) - 30;
  margin-top: var(--margin-top-animation);
}

.left-enter.left-enter-active {
  opacity: 1;
  left: var(--level2-left);
  height: var(--level2-height);
  width: var(--level2-width);
  line-height: var(--level2-height);
  margin-top: var(--margin-top-animation-active);
  transition: left 1s, opacity 1s, height 1s, width 1s, line-height 1s;
}

.left-leave {
  opacity: 1;
  left: var(--level-2-left);
  height: var(--level2-height);
  width: var(--level2-width);
  line-height: var(--level2-height);
  margin-top: var(--margin-top-animation-active)
}

.left-leave.left-leave-active {
  left: calc(var(--level-2-left) + var(--level2-width) + 20);
  opacity: 0;
  height: var(--level2-height) - 30;
  line-height: 120px;
  margin-top: var(--margin-top-animation);
}
.right-enter {
  opacity: 0;
  left: calc(var(--level-2-left) + var(--level2-width));
  height: var(--level2-height) - 30;
  width: var(--level2-width) - 20;
  line-height: var(--level2-height) - 30;
  margin-top: var(--margin-top-animation);
}

.right-enter.right-enter-active {
  left: var(--level-2-left);
  opacity: 1;
  height: var(--level2-height);
  margin-top: var(--margin-top-animation-active);
  line-height: var(--level2-height);
  width: var(--level2-width);
  transition: left 1s, opacity 1s, height 1s, width 1s,
    line-height 1s;
}

.right-leave {
  left: var(--level2-left);
  height: var(--level2-height);
  opacity: 1;
  margin-top: var(--margin-top-animation-active);
  line-height: var(--level2-height);
  width: var(--level2-width);
}

.right-leave.right-leave-active {
  left: calc(var(--level2-left) - var(--level2-width));
  opacity: 0;
  height: var(--level2-height) - 30;
  width: var(--level2-width) - 20;
  line-height: var(--level2-height) - 30;
  margin-top: var(--margin-top-animation);
  transition: left 1s, opacity 1s, height 1s, width 1s,
    line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
