.ContactForm {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
  }
  &-input {
    margin: 5px 0;
    font-size: 10px;
    border: 1px solid grey;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    border: 1px solid #dddddd;
    &:focus {
      box-shadow: 0 0 5px rgba(189, 195, 199, 1);
      padding: 3px 0px 3px 3px;
      border: 1px solid rgba(189, 195, 199, 1);
    }
  }
  &-textArea {
    height: 80px;
    resize: none;
    padding: 5px 5px;
  }
  &-textInput {
    height: 25px;
    padding-left: 5px;
  }
  &-button {
    padding: 8px;
    width: 120px;
    border-radius: 5px;
    margin-bottom: 5px;
    align-self: center;
    color: white;
    background: black;
    font-weight: 700;
    margin-top: 7px;
    outline: none;
    &:focus {
      box-shadow: 0 0 11px #000704;
    }
    &:hover {
      box-shadow: 0 0 5px #000704;
    }
  }
  &-message {
    margin: 0 auto;
    font-weight: 600;
    max-width: 40vw;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .ContactForm {
    &-input {
      min-width: 16vw;
    }
  }
}

@media (min-width: 700px) {
  .ContactForm {
    &-label {
      font-size: 14px;
    }
    &-input {
      font-size: 13px;
    }
    &-textArea {
      padding: 5px 10px;
    }
    &-textInput {
      height: 25px;
      padding-left: 10px;
    }
    &-message {
      font-size: 16px;
    }
  }
}
@media (min-width: 1024px) {
  .ContactForm {
    &-label {
      font-size: 18px;
    }
    &-input {
      height: 40px;
      margin: 8px 0;
      font-size: 18px;
    }
    &-textArea {
      height: 120px;
    }
    &-message {
      font-size: 20px;
    }
  }
}
@media (min-width: 1440px) {
  .ContactForm {
    &-label {
      font-size: 22px;
    }
    &-input {
      height: 40px;
      margin: 8px 0;
      font-size: 20px;
      padding: 2px 10px 0;
    }
    &-textArea {
      height: 120px;
      padding-top: 10px;
    }
  }
}