.Footer {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-column: 1/-1;
  padding-left: 50px;
  color: white;
  background: black;
  height: 40px;
  margin-top: 40px;
  font-size: 0.8rem;
}